<footer class="-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-5" style="margin-top: 5px; padding: 0;">
            <div style="margin: auto; text-align: center;">
                <a class="footer-txt" href="/whats-my-body-shape">
                You can find the source code at my github repository
                </a>
            </div>
            </div>
        </div>
    </div>
</footer>