<nav class="navbar-default1 navbar-dark navbar-fixed-top" style="background-color: #424242;">
    <div class="container">
        <div class="navbar-header navbar-petite">
            <a href="/messages">
            <div class="nav pull-left" style="font-size: 20px;text-align: center; font-family: 'Trirong', serif;margin: 23px 0px 23px 1px; color: #b3b3b3;">
                Test Page for Petite Ave 
            </div>
            </a>
        </div>
    </div>
</nav>